ul {
  list-style-type: none; 
  padding-left: 0;      
}

ul li {
  position: relative;    
  padding-left: 20px;  
}

ul li::before {
  content: '';                     
  position: absolute;          
  left: 0;                        
  top: 50%;                       
  transform: translateY(-50%);    
  width: 4px;                    
  height: 4px;                   
  background-color: var(--brown-800); 
  border-radius: 50%;             
}