@media (max-width: 725px) {
  body {
    padding: 0;
    background-color: #fff;
  }
  
  .container {
    padding: 0;
  }

  .section-container {
    padding: 0 2rem;
  }

  .img-home-page {
    border-radius: 0;
  }
}