/* SIMILAR STYLES */

.description,
.preparation,
.ingredients,
.instructions,
.nutrition,
.container-nutrition,
.preparation ul,
.ingredients ul,
.instructions ol {
  display: grid;
  gap: 1.2rem;
}


/* SECTION DESCRIPTION */

.description h1 {
  font-family: var(--title-font);
  font-size: 2rem;
  color: var(--stone-900);
}

.description p {
  line-height: 1.5rem;
}


/* SECTION PREPARATION */

.preparation {
  padding: 1.4rem;
  background-color: var(--rose-50);
  border-radius: 8px;
}

.preparation span.time-title {
  color: var(--rose-800);
  font-weight: 600;
  font-size: 1.1rem;
}

.preparation ul {
  padding-left: 1.2rem;
  gap: 0.8rem;
}

.preparation ul li .time {
  font-weight: 600;
}

/* SECTION INSTRUCTIONS */

.instructions ol {
  max-width: 100%;
  padding-left: 1.2rem;
}

.instructions ol li span {
  font-weight: 700;
}

/* SECTION NUTRITION */

.container-nutrition {
  gap: 1rem;
}

.container-nutrition .box-nutrition {
  display: flex;
  justify-content: space-between;
}

.container-nutrition .box-nutrition .name-nutrition,
.container-nutrition .box-nutrition .value-nutrition {
  width: 100%;
}

.container-nutrition .box-nutrition .name-nutrition {
  padding-left: 10%;
}

.container-nutrition .box-nutrition .value-nutrition {
  font-weight: 600;
  color: var(--brown-800);
}
